<!DOCTYPE html>
<html lang="{{ store.locale|replace({'_': '-'}) }}">

<head>

    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CJ0QKNBB9C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-CJ0QKNBB9C');
    </script>

    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "pukrcxbahb");
    </script>

    <meta charset="utf-8">
    <!-- Structured Data for SEO -->

    <link rel="profile" href="https://gmpg.org/xfn/11">
    <!-- end SEO -->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no">

    {#<title>{{ __(page.title) }} | {{ store.name }} | FiveM Scripts | ESX & QBCore | Best FiveM Resource</title>#}

    {% set titleName = __(page.title) | replace({'QB ': '', '] ': '', '[': '', 'ESX ': '', 'OPEN ': '', 'ESCROW ': '', 'QX ': '', 'QBCore': '' , 'QBCore ': '', 'ESX': '', 'QB': '', 'QX': '', 'ESCROW': '', 'OPEN': '', '[ ': '' }) %}


    <title>Ata Scripts | {{ titleName }} </title>
    <meta name="description" content="Discover the best FiveM scripts and resources at {{ store.name }}. Premium ESX and QBCore mods, optimized for your server. Buy now or download trusted resources for FiveM.">

    <meta name="keywords" content="FiveM scripts, ESX scripts, QBCore scripts, FiveM mods, FiveM resources, download FiveM scripts, buy FiveM scripts, best FiveM resources, optimized FiveM mods">
    <meta name="author" content="{{ store.name }}">
    <meta name="robots" content="index, follow">

    <meta name="theme-color" content="{{ store.logo }}">
    <meta property="og:title" content="{{ store.name }} | FiveM Scripts | ESX & QBCore | Best FiveM Resource">
    <meta property="og:description" content="Explore premium FiveM scripts, ESX & QBCore resources. Buy or download trusted and high-quality FiveM Scripts">
    <meta property="og:image" content="{{ store.logo }}">
    <meta property="og:url" content="{{ url() }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ store.name }} | FiveM Scripts | ESX & QBCore | Best FiveM Resource">
    <meta name="twitter:description" content="Get premium FiveM scripts at {{ store.name }}. Trusted ESX and QBCore Resource">
    <meta name="twitter:image" content="{{ store.logo }}">
    <meta name="twitter:label1" content="Products">
    <meta name="twitter:data1" content="107">

    <link rel="canonical" href="{{ url() }}">
    <link rel="shortcut icon" href="{{ store.favicon }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ store.favicon }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ store.favicon }}">
    <link rel="apple-touch-icon" href="{{ store.favicon }}">

    <!-- Preloading and Prefetching -->
    <link rel="preload" href="{{ asset('main.js') }}" as="script">
    <link rel="preload" href="{{ asset('shared.css') }}" as="style">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">

    <!-- Structured Data for SEO -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Store",
            "name": "{{ store.name }}",
        "url": "{{ url() }}",
        "logo": "{{ store.favicon }}",
        "description": "Premium FiveM Resources, QBCore & ESX FiveM Scripts.",
        "sameAs": [
            "https://www.youtube.com/@atarevalss",
            "https://discord.gg/5tVUgq8",
            "https://github.com/atarevals"
        ]
    }
    </script>

    <!-- Security and Performance -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {#<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://js.tebex.io; style-src 'self' 'unsafe-inline'; img-src 'self' data: {{ store.url }};">#}
    <meta name="theme-color" content="#101d24"> <!-- Sets the browser toolbar color -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/atom-one-dark-reasonable.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/lua.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/json.min.js"></script>
    {% include "constants.twig" %}

    <script defer src="https://js.tebex.io/v/1.js"></script>
    <script defer src="{{ asset('main.js') }}"></script>
    <link href="{{ asset('shared.css') }}" rel="stylesheet">

    <style>
        :root {
        {%- if config('primary-colour') != '#000000' -%}
            --color-primary: {{ config('primary-colour') }};
        {%- endif -%}

        {%- if config('primary-colour-hover') != '#000000' -%}
            --color-primary-hover: {{ config('primary-colour-hover') }};
        {%- endif -%}

        {%- if config('primary-text-colour') != '#000000' -%}
            --color-primary-text: {{ config('primary-text-colour') }};
        {%- endif -%}

        {%- if config('primary-text-colour-hover') != '#000000' -%}
            --color-primary-text-hover: {{ config('primary-text-colour-hover') }};
        {%- endif -%}

        {%- if config('sale-banner-colour-text') != '#000000' -%}
            --color-sale-banner-text: {{ config('sale-banner-colour-text') }};
        {%- endif -%}

        {%- if config('sale-banner-colour-bg') != '#000000' -%}
            --color-sale-banner-bg: {{ config('sale-banner-colour-bg') }};
        {%- endif -%}


        {%- if config('discount-text-color') != '#000000' -%}
            --discount-text-color: {{ config('discount-text-color') }};
        {%- endif -%}
        {%- if config('discount-color') != '#000000' -%}
            --discount-color: {{ config('discount-color') }};
        {%- endif -%}
        {%- if config('discount-text-background') != '#000000' -%}
            --discount-text-background: {{ config('discount-text-background') }};
        {%- endif -%}
        {%- if config('discount-background') != '#000000' -%}
            --discount-background: {{ config('discount-background') }};
        {%- endif -%}

        {%- if config('bg-image') != '' -%}
            --bg-image: url({{ config('bg-image') }});
        {%- endif -%}

            --text-price: "{{ __("Price") }}";
        }
    </style>
    <style>

        .fade-enter-active[data-v-865181eb],.fade-leave-active[data-v-865181eb] {
            transition: opacity .15s linear
        }

        .fade-enter-from[data-v-865181eb],.fade-leave-to[data-v-865181eb] {
            opacity: 0
        }

        .loading-spinner[data-v-8918bf12] {
            box-sizing: border-box;
            display: inline-block;
            width: 35px;
            height: 35px;
            border: 5px solid #000;
            border-bottom-color: transparent;
            border-radius: 50%;
            animation: rotation-8918bf12 1s linear infinite
        }

        @keyframes rotation-8918bf12 {
            0% {
                transform: rotate(0)
            }

            to {
                transform: rotate(360deg)
            }
        }

        @keyframes pageMovebiron {
            0% {
                opacity: 1;
            }
            50%, 100% {
                opacity: 0;
            }
        }
        @keyframes pageMoveDakhe {
            0%, 50% {
                scale: 0.98;
                opacity: 0;
            }
            100% {
                scale: 1;
                opacity: 1;
            }
        }

        .loader[data-v-860654da] {

            position: fixed;
            top: 0;
            left: 0;
            /*z-index: 999;*/
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: #101d24;
            z-index: 999;
            view-transition-name: siteHeader;
        }

        .loader__logo[data-v-860654da] {
            width: 184px;
            animation: pulse-860654da .7s ease-in-out infinite alternate
        }

        @keyframes pulse-860654da {
            0% {
                /* transform: rotate(-10deg); */
                transform: scale(0.7);
            }

            to {
                transform: scale(1);
            }
        }

        .loader__progress[data-v-860654da] {
            position: relative;
            width: 190px;
            height: 3px;
            margin-top: 20px;
            overflow: hidden
        }

        .loader__progress-inner[data-v-860654da] {
            position: absolute;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            background: #fff;
            border-radius: 100px;
            animation: slide-860654da 1.3s linear infinite
        }

        @keyframes slide-860654da {
            0%,10% {
                transform: translate(-100%)
            }

            90%,to {
                transform: translate(170%)
            }
        }

        .fade-enter-active[data-v-860654da],.fade-leave-active[data-v-860654da] {
            transition: opacity .2s linear
        }

        .fade-enter-from[data-v-860654da],.fade-leave-to[data-v-860654da] {
            opacity: 0
        }

        .logo__shape[data-v-34437b2e] {
            width: 100%;
            height: 100%;
        }

    </style>

    <link href="{{ asset('style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('aos.css') }}">
    <link rel="stylesheet" href="{{ asset('swiper.min.css') }}">
    <style>
        .background-image::before{
            background : url({{asset('main-background.webp')}});
        }
    </style>

</head>
