{% if config('discount-banner-text') %}
    <div class="sbar">
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
        <span>{{ config("discount-banner-text") }} <t>{{ config("discount-code-text") }}</t></span>
    </div>
{% endif %}

{% if isNavigationVertical == false %}
    {% include "navigation.twig" %}
{% endif %}
<header class="w-full flex justify-between pt-4 padding-x lg:p-0 lg:border-b lg:border-b-white/10 bg-primary">

    <!--Mobile Header-->
    <div class="w-full flex lg:hidden items-center justify-between">
        <h1 class="text-white font-bold">ATA SCRIPTS</h1>
        <a href="/">
            <img src="{{ store.logo }}" alt="{{ store.name }}" class="min-w-12 max-w-12 min-h-12 max-h-12" />
        </a>
    </div>

    <!--Desktop Header-->
    <div class="w-full hidden lg:flex flex-col items-center gap-3">
        <div class="w-full hidden lg:flex justify-center bg-black py-2 ">
            <div class="container flex items-center justify-between padding-x">
                <a href="/" class="text-lg text-white/10 font-medium">
                    {{ store.name }}
                </a>
                <ul class="flex gap-8">
                    <li>
                        <a href="" class="text-xs text-white/20 hover:text-white/60">information</a>
                    </li>
                    <li>
                        <a href="" class="text-xs text-white/20 hover:text-white/60">Youtube</a>
                    </li>
                    <li>
                        <a href="" class="text-xs text-white/20 hover:text-white/60">Fivem</a>
                    </li>
                    <li>
                        <a href="" class="text-xs text-white/20 hover:text-white/60">Twitter</a>
                    </li>
                    <li>
                        <a href="" class="text-xs text-white/20 hover:text-white/60">Gitbook</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container hidden lg:flex items-center justify-between padding-x">
            <div class="flex items-center gap-4">
                <img src="{{ store.logo }}" alt="{{ store.name }}" class="min-w-20 max-w-20 min-h-20 max-h-20" />
                <ul class="flex gap-4 font-medium">
                    <li class="py-1 px-2 cursor-pointer group hover:bg-[linear-gradient(149deg,_rgba(153,153,153,0.3)_0%,_rgba(153,153,153,0.3)_0%,_transparent_50%,_transparent_100%)] rounded-2xl">
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Home</a>
                    </li>
                    <li class="py-1 px-2 cursor-pointer group hover:bg-[linear-gradient(149deg,_rgba(153,153,153,0.3)_0%,_rgba(153,153,153,0.3)_0%,_transparent_50%,_transparent_100%)] rounded-2xl">
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Escrow</a>
                    </li>
                    <li class="py-1 px-2 cursor-pointer group hover:bg-[linear-gradient(149deg,_rgba(153,153,153,0.3)_0%,_rgba(153,153,153,0.3)_0%,_transparent_50%,_transparent_100%)] rounded-2xl">
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Open Source</a>
                    </li>
                    <li class="py-1 px-2 cursor-pointer group hover:bg-[linear-gradient(149deg,_rgba(153,153,153,0.3)_0%,_rgba(153,153,153,0.3)_0%,_transparent_50%,_transparent_100%)] rounded-2xl">
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Free</a>
                    </li>
                    <li class="py-1 px-2 cursor-pointer group hover:bg-[linear-gradient(149deg,_rgba(153,153,153,0.3)_0%,_rgba(153,153,153,0.3)_0%,_transparent_50%,_transparent_100%)] rounded-2xl">
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Models</a>
                    </li>
                </ul>
            </div>
            <div class="flex gap-3">
                <ul class="flex gap-4 font-medium">
                    <li class="flex gap-1 items-center py-1 px-2 cursor-pointer bg-white/3 rounded-2xl">
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9998 16.3357L7.19565 18.6273C7.02759 18.7343 6.8519 18.7801 6.66856 18.7648C6.48523 18.7496 6.32481 18.6885 6.18731 18.5815C6.04981 18.4746 5.94287 18.341 5.86648 18.1809C5.79009 18.0208 5.77481 17.8412 5.82065 17.6419L6.82898 13.3107L3.46023 10.4003C3.30745 10.2628 3.21212 10.106 3.17423 9.93001C3.13634 9.75401 3.14765 9.58229 3.20815 9.41484C3.26865 9.2474 3.36031 9.1099 3.48315 9.00234C3.60598 8.89479 3.77404 8.82604 3.98731 8.79609L8.43315 8.40651L10.1519 4.32734C10.2283 4.14401 10.3468 4.00651 10.5076 3.91484C10.6683 3.82318 10.8324 3.77734 10.9998 3.77734C11.1673 3.77734 11.3313 3.82318 11.4921 3.91484C11.6528 4.00651 11.7713 4.14401 11.8477 4.32734L13.5665 8.40651L18.0123 8.79609C18.2262 8.82665 18.3943 8.8954 18.5165 9.00234C18.6387 9.10929 18.7304 9.24679 18.7915 9.41484C18.8526 9.5829 18.8642 9.75493 18.8263 9.93093C18.7884 10.1069 18.6928 10.2634 18.5394 10.4003L15.1706 13.3107L16.179 17.6419C16.2248 17.8405 16.2095 18.0202 16.1331 18.1809C16.0568 18.3417 15.9498 18.4752 15.8123 18.5815C15.6748 18.6878 15.5144 18.749 15.3311 18.7648C15.1477 18.7807 14.972 18.7349 14.804 18.6273L10.9998 16.3357Z" fill="white" fill-opacity="0.58"/>
                        </svg>
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Reviews</a>
                    </li>
                    <li class="flex gap-1 items-center py-1 px-2 cursor-pointer bg-white/3 rounded-2xl">
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.01336 3.50483C8.92102 3.51811 8.83283 3.55087 8.75505 3.6008C8.75505 3.6008 7.95023 4.0905 7.08497 4.62018C6.21971 5.14925 5.2571 5.73246 5.03697 5.85058L4.99689 5.86904C4.19779 6.34582 4.03174 7.12466 4.00311 7.56145C4.0012 7.58175 4.00311 7.59836 4.00311 7.61989C3.99611 7.78354 4.00311 7.88874 4.00311 7.88874V15.9251C4.00311 17.0927 5.41107 17.6544 6.74714 17.6544C7.19249 17.6544 7.63785 17.5849 8.01958 17.4618C8.27407 17.3388 8.45667 17.0927 8.45667 16.8466V10.3871C8.45667 8.9721 8.77478 8.30769 9.72911 7.75401C9.9836 7.63097 12.6519 5.84997 12.6519 5.84997C12.7792 5.72693 12.9102 5.47716 12.9102 5.2926V5.23477C12.9102 4.98869 12.783 4.80044 12.5921 4.6774C12.4012 4.55436 12.1468 4.55436 11.9559 4.6774C11.8923 4.73892 8.01131 7.26554 7.18422 7.69618C6.35713 8.18834 5.58539 8.30707 5.39453 8.06099C5.33536 8.00378 5.28383 7.82845 5.27555 7.65742V7.61866C5.27619 7.45133 5.32073 7.13635 5.67319 6.92656C6.03075 6.73401 6.91828 6.18586 7.781 5.65802C8.14555 5.43471 8.19073 5.41071 8.47639 5.23477C8.51399 5.38506 8.60875 5.51614 8.74179 5.60193C8.87483 5.68772 9.0364 5.72191 9.19434 5.69771C9.35228 5.67352 9.495 5.59269 9.5941 5.47134C9.6932 5.34998 9.7414 5.19699 9.72911 5.04283V4.12003C9.72982 4.03234 9.71114 3.94552 9.67431 3.86538C9.63749 3.78525 9.58337 3.71365 9.51559 3.65539C9.44781 3.59714 9.36793 3.55356 9.28131 3.52759C9.19469 3.50163 9.10334 3.49386 9.01336 3.50483ZM14.1031 5.65802C14.002 5.67429 13.9064 5.71397 13.8245 5.77368C13.8245 5.77368 10.6217 7.85736 10.0669 8.21479L10.0472 8.23448C9.5866 8.56853 9.31366 8.96595 9.19214 9.32953C9.12443 9.53473 9.09093 9.74904 9.09289 9.96442V10.157C9.09197 10.176 9.09197 10.1951 9.09289 10.2142V17.6544C9.09289 18.8233 10.4849 19.5 11.7574 19.5C12.33 19.5 12.8466 19.3807 13.2283 19.1346C13.9918 18.7039 17.6819 15.9245 17.6819 15.9245C17.8728 15.8014 18 15.6279 18 15.4434V7.44579C18 7.13819 17.8766 6.95363 17.6221 6.83059C17.4312 6.70755 17.1176 6.76538 16.9267 6.88842C15.9087 7.62666 13.1685 9.71095 12.5323 10.0801C11.6416 10.5722 10.8024 10.6953 10.4843 10.3877C10.3571 10.2646 10.3653 10.149 10.3653 9.96442C10.3687 9.85778 10.3821 9.76796 10.4054 9.69496C10.441 9.58791 10.5136 9.45626 10.7827 9.25325C10.7954 9.2434 10.7891 9.24402 10.8024 9.23418C11.2624 8.93703 12.6691 8.00993 13.5865 7.40703C13.6385 7.54187 13.7377 7.65482 13.8669 7.72623C13.9961 7.79765 14.1471 7.82303 14.2936 7.79794C14.4401 7.77284 14.5729 7.69888 14.6689 7.58891C14.7649 7.47894 14.818 7.33991 14.8189 7.19602V6.27322C14.8196 6.18554 14.8009 6.09871 14.7641 6.01858C14.7273 5.93844 14.6731 5.86685 14.6054 5.80859C14.5376 5.75033 14.4577 5.70676 14.3711 5.68079C14.2845 5.65482 14.1931 5.64706 14.1031 5.65802ZM16.7276 10.157V11.3874L13.5464 13.7707V12.5403L16.7276 10.157Z" fill="white" fill-opacity="0.58"/>
                        </svg>
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Docs</a>
                    </li>
                    <li class="flex gap-1 items-center py-1 px-2 cursor-pointer bg-white/3 rounded-2xl">
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.538 6.49724C15.5247 6.03236 14.4275 5.69495 13.2846 5.5C13.2645 5.50028 13.2453 5.50837 13.2313 5.52249C13.0941 5.76993 12.9341 6.09235 12.8274 6.33978C11.6152 6.15994 10.3824 6.15994 9.1702 6.33978C9.06353 6.08485 8.90353 5.76993 8.75876 5.52249C8.75114 5.5075 8.72828 5.5 8.70542 5.5C7.56254 5.69495 6.47298 6.03236 5.452 6.49724C5.44438 6.49724 5.43676 6.50474 5.42914 6.51224C3.35671 9.56395 2.78526 12.5332 3.06717 15.4724C3.06717 15.4874 3.07479 15.5024 3.09003 15.5099C4.4615 16.4997 5.77963 17.0995 7.08252 17.4969C7.10538 17.5044 7.12824 17.4969 7.13586 17.4819C7.44063 17.0695 7.71492 16.6346 7.95112 16.1772C7.96636 16.1472 7.95112 16.1173 7.92064 16.1098C7.48634 15.9448 7.0749 15.7498 6.67108 15.5249C6.64061 15.5099 6.64061 15.4649 6.66346 15.4424C6.74728 15.3824 6.83109 15.315 6.9149 15.255C6.93014 15.24 6.953 15.24 6.96823 15.2475C9.58926 16.4247 12.416 16.4247 15.0065 15.2475C15.0218 15.24 15.0446 15.24 15.0599 15.255C15.1437 15.3225 15.2275 15.3824 15.3113 15.4499C15.3418 15.4724 15.3418 15.5174 15.3037 15.5324C14.9075 15.7648 14.4884 15.9523 14.0541 16.1173C14.0237 16.1247 14.016 16.1622 14.0237 16.1847C14.2675 16.6421 14.5418 17.077 14.8389 17.4894C14.8618 17.4969 14.8846 17.5044 14.9075 17.4969C16.218 17.0995 17.5361 16.4997 18.9076 15.5099C18.9228 15.5024 18.9305 15.4874 18.9305 15.4724C19.2657 12.0758 18.3743 9.12906 16.5685 6.51224C16.5609 6.50474 16.5533 6.49724 16.538 6.49724ZM8.34732 13.6804C7.56254 13.6804 6.90728 12.9681 6.90728 12.0908C6.90728 11.2135 7.5473 10.5012 8.34732 10.5012C9.15496 10.5012 9.79498 11.221 9.78736 12.0908C9.78736 12.9681 9.14734 13.6804 8.34732 13.6804ZM13.6579 13.6804C12.8732 13.6804 12.2179 12.9681 12.2179 12.0908C12.2179 11.2135 12.8579 10.5012 13.6579 10.5012C14.4656 10.5012 15.1056 11.221 15.098 12.0908C15.098 12.9681 14.4656 13.6804 13.6579 13.6804Z" fill="white" fill-opacity="0.58"/>
                        </svg>
                        <a href="" class="text-xs text-white/50 group-hover:text-white">Discord</a>
                    </li>
                </ul>
                <div class="w-8 h-8 flex justify-center items-center rounded-[50%] bg-secondary cursor-pointer" data-action="showSidebar" data-section-id="basket">
                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 5.5C11.1941 5.5 11.3794 5.5675 11.5118 5.6875L15.7471 9.4875L15.7618 9.5H18.0588C18.5794 9.5 19 9.8575 19 10.3C19 10.6625 18.7176 10.9675 18.3294 11.0675L16.9735 16.2475C16.7824 16.98 16.0176 17.5 15.1353 17.5H6.86176C5.97941 17.5 5.21471 16.98 5.02353 16.2475L3.67059 11.0675C3.28235 10.97 3 10.6625 3 10.3C3 9.8575 3.42059 9.5 3.94118 9.5H6.23824L6.25294 9.4875L10.4882 5.6875C10.6206 5.5675 10.8059 5.5 11 5.5ZM11 6.9725L8.18235 9.5H13.8176L11 6.9725ZM8.64706 12.1C8.64706 11.7675 8.33235 11.5 7.94118 11.5C7.55 11.5 7.23529 11.7675 7.23529 12.1V14.9C7.23529 15.2325 7.55 15.5 7.94118 15.5C8.33235 15.5 8.64706 15.2325 8.64706 14.9V12.1ZM11 11.5C10.6088 11.5 10.2941 11.7675 10.2941 12.1V14.9C10.2941 15.2325 10.6088 15.5 11 15.5C11.3912 15.5 11.7059 15.2325 11.7059 14.9V12.1C11.7059 11.7675 11.3912 11.5 11 11.5ZM14.7647 12.1C14.7647 11.7675 14.45 11.5 14.0588 11.5C13.6676 11.5 13.3529 11.7675 13.3529 12.1V14.9C13.3529 15.2325 13.6676 15.5 14.0588 15.5C14.45 15.5 14.7647 15.2325 14.7647 14.9V12.1Z" fill="#1D1D1D"/>
                    </svg>
                </div>
                <div class="w-8 h-8 flex justify-center items-center rounded-[50%] bg-secondary cursor-pointer">
                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 5.5C11.1941 5.5 11.3794 5.5675 11.5118 5.6875L15.7471 9.4875L15.7618 9.5H18.0588C18.5794 9.5 19 9.8575 19 10.3C19 10.6625 18.7176 10.9675 18.3294 11.0675L16.9735 16.2475C16.7824 16.98 16.0176 17.5 15.1353 17.5H6.86176C5.97941 17.5 5.21471 16.98 5.02353 16.2475L3.67059 11.0675C3.28235 10.97 3 10.6625 3 10.3C3 9.8575 3.42059 9.5 3.94118 9.5H6.23824L6.25294 9.4875L10.4882 5.6875C10.6206 5.5675 10.8059 5.5 11 5.5ZM11 6.9725L8.18235 9.5H13.8176L11 6.9725ZM8.64706 12.1C8.64706 11.7675 8.33235 11.5 7.94118 11.5C7.55 11.5 7.23529 11.7675 7.23529 12.1V14.9C7.23529 15.2325 7.55 15.5 7.94118 15.5C8.33235 15.5 8.64706 15.2325 8.64706 14.9V12.1ZM11 11.5C10.6088 11.5 10.2941 11.7675 10.2941 12.1V14.9C10.2941 15.2325 10.6088 15.5 11 15.5C11.3912 15.5 11.7059 15.2325 11.7059 14.9V12.1C11.7059 11.7675 11.3912 11.5 11 11.5ZM14.7647 12.1C14.7647 11.7675 14.45 11.5 14.0588 11.5C13.6676 11.5 13.3529 11.7675 13.3529 12.1V14.9C13.3529 15.2325 13.6676 15.5 14.0588 15.5C14.45 15.5 14.7647 15.2325 14.7647 14.9V12.1Z" fill="#1D1D1D"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <button type="button" data-action="showSidebar" data-section-id="aside" class="lg:hidden w-14 h-14 bg-secondary rounded-[50%] p-4 fixed z-[99]">
        <svg class="w-full h-full"><use href="#menu"></use></svg>
    </button>

</header>

<header id="header" class="site-header">

    <div class="site-header-inner">
        <div class="actions">
            <button class="btn-tertiary btn-icon btn-glyph-text toggle-navigation mobile-only">{{ __("Toggle menu") }}</button>
            {% if basket.username %}
                <button class="btn-primary btn-glyph-text open-basket mobile-only" onclick="location.href='#checkout/basket'" >
                    Basket
                </button>
            {% endif %}
        </div>



        <h1 class="site-title">
            <a href="/">
                {% if store.logo %}
                    <img src="{{ store.logo }}" alt="{{ store.name }}" />
                    <img src="{{ store.logo }}" alt="{{ store.name }}" class="blur-custom" />
                {% else %}
                    {{ store.name }}
                {% endif %}
            </a>
        </h1>

        {% if config('server-url') %}
            <a class="info server" href="{{ config('server-url') }}" target="_blank">
                <img
                        class="image"
                        src="https://cdn.tebex.io/store/910649/templates/203588/assets/07bc473abb4e61647834b5c7c376ecc877c50eca.png"
                        alt="{{ __("Server name") }}"
                />
                <strong class="title">
                    {{ config('server-text') ? config('server-text') : config('server-url') }}
                </strong>
                <button
                        class="action"

                >{{ __("Click to Read") }}</button>
            </a>
        {% endif %}

        {% if config('discord-link') %}
            <a class="info discord" href="{{ config('discord-link') }}" target="_blank">
                <img
                        class="image"
                        src="https://webstore-template-assets.tebex.io/images/discord.svg"
                        alt="{{ __("Discord") }}"
                />
                <strong class="title">{{ __("Join our Discord") }}</strong>
                <span class="action">{{ __("Click to Join") }}</span>
            </a>
        {% endif %}
    </div>


</header>

